.App {
    text-align: center;
}

.App-logo {
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 100px;
    padding: 20px;
    color: white;
}

.Search {
    display: block;
    text-align: left;
    float: left;
    width: 50%;
    min-width: 150px;
}

.Header-buttons {
    display: block;
    float: right;
    min-width: 150px;
}

.Ref-list-item {
    display: block;
    text-align: left;
    border: thin solid #717171;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    clear: both;
    float: left;
    width: 95%;
}

.Ref-list-item-control {
    display: block;
    float: right;
    margin: 5px;
    align-items: baseline;
}

.Ref-list-item-text {
    display: block;
    float: left;
    margin: 5px;
    min-width: 150px;
}

.Ref-list-item-text-author {
    width: 25%;
    float: left;
    min-width: 150px;
}

.Ref-list-item-text-title {
    width: 25%;
    float: left;
    min-width: 300px;
}