.App {
    text-align: center;
}

.App-logo {
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 70px;
    padding: 20px;
    color: white;
}

.Screen-header {
    background-color: #222;
    padding: 20px;
    color: white;
    overflow: auto;
}

.Search {
    display: block;
    text-align: left;
    float: left;
}

.Header-buttons {
    display: block;
    float: right;
    min-width: 150px;
}

@media (max-width: 1000px) {
    .Header-buttons {
        width: 140px;
    }
}

.Editable {
    width: 100%
}

.Editable-empty {
    color: #717171;
}

textarea.Editable {
    height: 150px;
}

.Ref-list-item {
    display: block;
    text-align: left;
    border: thin solid #717171;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    clear: both;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.Ref-list-item-1 {
    float: left;
    width: calc(30% - 75px); /* 30% x 250px = 75px */
    padding: 5px;
    box-sizing: border-box;
}

.Ref-list-item-2 {
    float: left;
    width: calc(10% - 25px); /* 10% x 250px = 25px*/
    padding: 5px;
    box-sizing: border-box;
}

.Ref-list-item-3 {
    float: left;
    width: calc(60% - 150px); /* 60% x 250px = 150px */
    padding: 5px;
    box-sizing: border-box;
}

.Ref-list-item-4 {
    float: right;
    text-align: right;
    width: 250px;
    padding: 5px;
    box-sizing: border-box;
}

@media (max-width: 800px) {
    .Ref-list-item-1, .Ref-list-item-2, .Ref-list-item-3, .Ref-list-item-4 {
        width: 100%;
    }
}


.Ref-list-item-expand-left {
    float: left;
    width: 15%;
    padding: 5px;
    color: #717171;
    box-sizing: border-box;
}

.Ref-list-item-expand-right {
    float: left;
    width: 84%;
    padding: 5px;
    box-sizing: border-box;
}

@media (max-width: 400px) {
    .Ref-list-item-expand-left, .Ref-list-item-expand-right {
        width: 100%;
    }
    .Ref-list-item-expand-left {
        padding-top: 10px;
    }
}

.Ref-list-item-expand-all {
    float: left;
    width: 100%;
    padding: 5px;
    text-align: right;
    box-sizing: border-box;
}

.Ref-list-item-expand-row {
    overflow: visible;
    clear: left;
}

.Name-list-row {
    overflow: auto;
    clear: left;
}

.Name-field {
    float: left;
    width: 150px;
}

.Name-editable-left {
    float: left;
    width: calc(100% - 25px);
}

.Name-editable-left-link {
    float: right;
    margin-right: 20px;
}

.Name-editable-right {
    float: left;
    width: 25px;
}

.input-field {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-field + label {
    font-weight: 700;
    color: white;
    display: inline-block;
    cursor: pointer;
    border: thin solid #717171;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 140px;
}

.input-field:focus + label,
.input-field + label:hover {
    background-color: #717171;
    outline: 1px dotted #000;
}

.Error {
    color: #ff0000;
    width: 100%;
}

.Highlighted {
    background-color: #ffff00;
}